
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #1f5fa3, #000000);
        min-height: 100vh;
    }

    h2 {
        color: white;
        text-align: center;
        margin-top: 250px;
        margin-bottom: 20px;
    }

    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        background: white;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }

.btn-container {
    width: 80%; 
    margin: 20px auto;
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #2b7ccc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #1f5fa3;
}

