* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0b1e3d, #0e3d77);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.container-box {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: .2s;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.4);
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}


.btn-primary {
    background: #007bff;
    color: white;
    margin-top: 20px;
}

.btn-primary:hover {
    background: #0056b3;
}

.btn-secondary {
    background: #6c757d;
    color: white;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn-secondary:hover {
    background: #555;
}

form {
    width: 100%;
}
