*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.nav-logo {
  flex: 1;
}

.nav-logo h1 {
  font-size: 22px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links a {
  color: rgb(53, 53, 53);
  text-decoration: none;

  margin: 0 15px;

  font-size: 18px;
}

.form-wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 40px auto;
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.success {
  color: #28a745;
  text-align: center;
  margin-bottom: 10px;
}

.error {
  color: #dc3545;
  text-align: center;
  margin-bottom: 10px;
}
