/* GENERAL LAYOUT */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.nav-logo {
  flex: 1;
}

.nav-logo h1 {
  font-size: 22px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links a {
  color: rgb(53, 53, 53);
  text-decoration: none;

  margin: 0 15px;

  font-size: 18px;
}

/* PAGE TITLE */
h1 {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

/* CATEGORY TITLE */
h2 {
  margin: 40px 0 10px 10px;
  color: #444;
  border-left: 6px solid #0099ff;
  padding-left: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 50px;
  padding: 10px 20px 30px;
}


.product {
  background: white;
  width: 250px;
  height: 150px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}


.product-info h4 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #333;
}

.product-info p {
  margin: 3px 0;
  color: #555;
  font-size: 14px;
}


.product-image {
  margin-left: auto;
}

.product-image img {
  border-radius: 8px;
  object-fit: cover;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.quantity-controls button {
  padding: 3px 8px;
  cursor: pointer;
}
.quantity-controls input {
  width: 40px;
  text-align: center;
}

/* MOBILE FIXES */
@media (max-width: 600px) {
  .nav {
    padding: 15px;
  }
  .nav-links {
    display: none;
  }
  .product {
    flex-direction: column;
    text-align: center;
  }
  .product-image {
    margin: 10px 0 0;
  }
}
